<ion-header>
  <ion-toolbar>
    <ion-title>carrito</ion-title>
    <ion-buttons slot="start">
        <ion-back-button
            [text]="'Volver'"
            [mode]="'ios'">
        </ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div text-center class="centrado" *ngIf="_carritoService.carrito.length === 0; else productos">
    <ion-icon name="cart" class="aumentado"></ion-icon>
    <h3>No hay productos en su carro</h3>
  </div>

  <ng-template #productos>
    <ion-grid>
      <ion-row *ngFor="let producto of _carritoService.carrito">
        <ion-col [size]="4">
          <ion-img [src]="producto.codigo | imagenPipe"></ion-img>
        </ion-col>
        <ion-col [size]="8">
          <ion-list [lines]="'none'">
            <ion-item>
              <ion-label>{{producto.producto}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>{{producto.proveedor}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>{{producto.precio_compra | currency:'EUR':'symbol'}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-button color="danger" fill="outline">
                  <ion-label>Eliminar producto</ion-label>
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h4><strong>Total: {{_carritoService.precioTotal | currency:'EUR':'symbol'}}</strong></h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="block" fill="outline">
            <ion-label>Comprar</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>

</ion-content>
